@*@model RB.Website.Model.ViewResumeModel*@
@{
    ViewBag.Title = "ViewResume";
}

@*<h2>ViewResume</h2>*@
<br />
<div class="row">
    @using (Html.BeginForm("ResumeDetails", "User", FormMethod.Get, new {}))
    {
    <button type="button" style="background:#f5af05;" class="btn btn-default">Back</button>
    }
    <div class="col-md-6" style="text-align:right">
        @*<i class="fa fa-print" style="font-size:24px" onclick="printResume();" title="Print Resume"></i>*@
        <button type="button" style="background:#f5af05;" class="btn btn-default" onclick="printResume();">Print Resume</button>
    </div>
</div>


@Html.Raw(@ViewBag.TemplateHtml)

<script type="text/javascript">
    function printResume() {
        debugger
        //window.print();
        //return false;
        $("#printArea").print({
            globalStyles: true,
            mediaPrint: false,
            iframe: false
        });
    }

</script>