@{
    ViewBag.Title = "ViewResume";
}
<br />
<div class="row">
    <button type="button" style="background:#f5af05;" class="btn btn-default" onclick="history.go(-1); return false;">Back</button>
    <div class="col-md-6" style="text-align:right">
        <button type="button" style="background:#f5af05;" class="btn btn-default" onclick="printResume();">Print Resume</button>
    </div>
</div>

<div id="ttttt">
    @Html.Raw(@ViewBag.TemplateHtml)
</div>


<script type="text/javascript">
    function printResume() {
        debugger
        $("#ttttt").print({
            globalStyles: true,
            mediaPrint: false,
            iframe: false
        });
    }

</script>
<style type="text/css">
    /*#printArea {
        width: 200%;
        height: 100%;
        margin: auto;
        margin-top: 0px !important;
    }*/

    /*@@media print {
        div {*/
            /*font-size: 5mm;*/
        /*}

        @@page {
            size: A4;
            margin: 2px;
        }
    }*/
</style>